<h2 class="text-center">
    <span>Sensors</span>
    <h6>
        <label class="form-check-inline">
            <span class="mr-1">Auto</span>
            <input class="form-check-input" type="radio" name="mode" [value]="true" [(ngModel)]="isModeAuto" (change)="changeMode()">
        </label>
        <label class="form-check-inline">
            <span class="mr-1">Manual</span>
            <input class="form-check-input" type="radio" name="mode" [value]="false" [(ngModel)]="isModeAuto" (change)="changeMode()">
        </label>
    </h6>
    <button class="btn btn-primary" *ngIf="!isModeAuto" (click)="manualUpdate()">Обновить данные</button>
</h2>

<div class="d-flex flex-wrap justify-content-center">
    <div *ngFor="let item of items" class="card col-xl-2 col-lg-2 col-md-2 col-xs-2 col-2 p-0 mx-2 my-0">
        <div class="card-body p-1">
            <sensor-grid-item [sensor]="item"></sensor-grid-item>
        </div>
    </div>

</div>